.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.reservation__title {
  align-self: center;
  margin: 100px 0 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  max-width: 385px;
  width: 100%;
  padding: 0;
}

.reservation__form {
  margin: 80px auto 120px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  justify-content: center;
}

.form__label {
  font-weight: 500;
  margin: 0 0 8px 0;
}

.form__input {
  border-radius: 4px;
  margin: 0 0 32px;
  height: 60px;
  border: 1px solid #838383;
  padding: 0 20px;
  box-sizing: border-box;
}

.form__input::placeholder {
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__input:last-of-type {
  margin: 0;
}

.form__button {
  border-radius: 4px;
  margin: 32px 0;
  background-color: #2f80ed;
  color: #fff;
  font-weight: 500;
  height: 60px;
  border-style: none;
}

.form__button:hover {
  opacity: 70%;
  transition: ease-in-out 0.3s;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

.form__label_type_checkbox {
  gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.form__label_type_checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__label_type_checkbox input[type="checkbox"] + span {
  background-color: #fff;
  border: 1px solid #838383;
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

.form__label_type_checkbox input[type="checkbox"]:checked + span {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
